.home{
  width: 20rem;
  height: 32rem;
  border: 2px solid blue;
  box-shadow: 20px 0px 20px 0px rgb(128, 43, 43);
  /* display: inline-flex;
  margin: 3rem; */
  
}
.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.text img{
  width: 20rem;
}
.home h1{
  color: rgb(18, 18, 199);
  font-size: 20px;
  font-weight: 20px;
  

}
.home p{
  font-size: 16px;
}
.home h4{
  font-size: 14px;
}
.home hr{
  width: 19rem;
}